.diagram--hidden {
  display: none;
}


@media (min-width: @tablet-width) {
  .diagram--hidden {
    display: block;
  }

  .diagram__wrapper {
    position: relative;
    display: flex;

    .container();
    padding-top: 58px;

    background-image: url("../img/bg-editor-diagram-fill.svg"), url("../img/bg-timer.svg");
    background-repeat: no-repeat;
    background-size: 203px 203px, 240px 276px;
    background-position: 19px 113px, left 58px;
  }

  .diagram__wrapper::before {
    content: "24";
    position: absolute;
    left: 65px;
    top: 200px;

    font-size: 96px;
    font-weight: 700;
    color: @text-red;
  }

  .diagram__content {
    width: 296px;

    margin-left: auto;
    margin-right: 15px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .diagram__slogan {
    display: block;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: @black;
  }

  .diagram__text {
    margin: 0;
    margin-bottom: 8px;

    font-size: 14px;
    line-height: 24px;
  }

  .diagram__link {
    font-size: 14px;
    line-height: 24px;
    color: @text-red;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .diagram {
    background-color: @bg-grey;
  }

  .diagram__wrapper {
    padding-bottom: 80px;

    background-size: 252px 252px, 300px 345px;
    background-position: 24px 80px, left 10px;
  }

  .diagram__wrapper::before {
    left: 80px;
    top: 180px;
    font-size: 120px;
  }

  .diagram__content {
    width: 530px;
    margin-right: 40px;
    padding-top: 65px;
  }

  .diagram__slogan {
    line-height: 30px;
    margin-bottom: 24px;
  }

  .diagram__slogan br {
    display: none;
  }

  .diagram__text {
    margin-bottom: 30px;
  }

  .diagram__text,
  .diagram__link {
    font-size: 18px;
    line-height: 30px;
  }
}
