.form {
  box-sizing: border-box;
}

.form__fieldset {
  position: relative;

  margin: 0;
  padding: 35px 20px 23px;

  border: 0;
}

.form__fieldset--user-contacts {
  padding-top: 32px;
}

.form__fieldset--check-group,
.form__fieldset--radio-group {
  background-color: @bg-grey;
}

.form__fieldset--check-group {
  padding-top: 40px;
  padding-bottom: 0;
}

.form__fieldset--radio-group {
  padding-top: 39px;
  padding-bottom: 40px;
}

.form__fieldset--radio-group .form__legend {
  margin-bottom: 34px;
}

.form__checkbox,
.form__radio {
  .visually-hidden();
}

.form__label {
  padding-left: 22px;

  font-size: 18px;
  line-height: 30px;
}

.form__checkbox + .form__label,
.form__radio + .form__label {
  display: flex;
  align-items: center;

  padding-left: 0;

  cursor: pointer;

  &::before {
    content: "";

    display: block;
    width: 36px;
    height: 36px;

    margin-right: 30px;

    background-color: @white;
    border: 2px solid @table-grey;
  }

  &:hover::before {
    border-color: @base-text-color;
  }

  &:active::before {
    border-color: @text-red;
  }
}

.form__checkbox:focus + .form__label,
.form__radio:focus + .form__label {
  &::before {
    border-color: @base-text-color;
  }
}

.form__radio + .form__label {
  &::before {
    border-radius: 50%;
  }
}

.form__radio:checked + .form__label {
  &::before {
    background-image: url("../img/bg-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px 35px;
  }
}

.form__checkbox:checked + .form__label {
  &::before {
    background-image: url("../img/bg-yes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
  }
}

.form__fieldset--message {
  padding-top: 39px;
  padding-bottom: 16px;
}

.form__fieldset--message .form__legend {
  margin-bottom: 15px;
}

.form__fieldset--user-contacts .form__legend {
  display: none;
}

.form__row {
  margin-bottom: 19px;
}

.form__fieldset--check-group .form__row {
  margin-bottom: 42px;
}

.form__fieldset--radio-group .form__row {
  margin-bottom: 36px;
}

.form__fieldset--radio-group .form__row:last-child {
  margin-bottom: 0;
}

.form__row--submit-group {
  margin: 0;
  margin-top: 30px;
}

.form__legend,
.form__label--input {
  display: block;
  margin-bottom: 4px;

  font-size: 14px;
  color: @text-red;
  text-transform: uppercase;
}

.form__legend {
  width: 280px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.form__field,
.form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 20px;

  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  color: @base-text-color;

  border: 2px solid @table-grey;

  vertical-align: middle;

  outline: none;

  &:hover {
    border-color: @black;
  }

  &:focus {
    border-color: @text-red;
  }
}

.form__fieldset--check-group .form__legend {
  margin-bottom: 38px;
}

.form__field {
  height: 62px;
}

.form__textarea {
  min-height: 202px;
}

.form__field::-webkit-input-placeholder {
  font-weight: 400;
  color: @base-text-color;
}

.form__field:-ms-input-placeholder {
  font-weight: 400;
  color: @base-text-color;
  opacity: 1;
}

.form__field:-moz-placeholder {
  font-weight: 400;
  color: @base-text-color;
  opacity: 1;
}

.form__button {
  margin-bottom: 35px;
}

.form__note {
  display: block;

  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
}

.form__note span {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin: 0 auto;
  }

  .form__fieldset {
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 57px;
    padding: 60px 58px;

    border: 2px solid @table-grey;
  }

  .form__fieldset--check-group,
  .form__fieldset--radio-group {
    background-color: @white;
  }

  .form__row-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form__row-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form__fieldset--check-group .form__row {
    flex: 1 1 auto;
  }

  .form__fieldset--user-info {
    order: 1;

    margin-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
  }

  .form__fieldset--user-contacts {
    order: 3;
    padding-top: 37px;
    padding-bottom: 0;
  }

  .form__legend {
    display: block;
    width: 320px;
    margin: 0 auto;
    padding: 0 30px;

    transform: none;
    background-color: @white;
  }

  .form__fieldset--user-contacts .form__legend {
    display: block;
    width: 200px;

    transform: translateY(-45px);
  }

  .form__fieldset--check-group .form__legend {
    width: 390px;
    transform: translateY(-10px);
  }

  .form__fieldset--user-info .form__row {
    display: flex;
    align-items: center;

    margin-bottom: 52px;
  }

  .form__fieldset--user-info .form__row:last-child {
    margin-bottom: 0;
  }

  .form__label--input {
    padding-left: 18px;
  }

  .form__checkbox + .form__label,
  .form__radio + .form__label {
    &::before {
      margin-right: 18px;
    }
  }

  .form__fieldset--radio-group {
    order: 2;
    padding-top: 0;
    padding-bottom: 55px;
  }

  .form__fieldset--radio-group .form__legend {
    margin-bottom: 30px;
    transform: translateY(-10px);
  }

  .form__fieldset--check-group {
    order: 4;
    padding-top: 0;
    padding-bottom: 5px;
  }

  .form__fieldset--message {
    order: 5;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .form__fieldset--message .form__legend {
    width: 200px;
    transform: translateY(-27px);
  }

  .form__textarea {
    min-height: 193px;
  }

  .form__row--submit-group {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 620px;
    margin: 0 auto;
  }

  .form__fieldset--user-contacts .form__row {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  .form__fieldset--user-contacts .form__field {
    width: 100%;
    margin-bottom: 12px;
  }

  .form__fieldset--user-info .form__label {
    margin-right: 18px;
    margin-bottom: 0;
    padding-left: 0;
  }

  .form__fieldset--user-contacts .form__label {
    margin-bottom: 27px;
  }

  .form__button {
    margin-bottom: 0;
  }

  .form__row--phone,
  .form__row--email {
    position: relative;
  }

  .form__row--phone::before,
  .form__row--email::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;

    display: block;
    width: 58px;
    height: 58px;

    background-color: @table-grey;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .form__row--email::before {
    background-image: url("../img/bg-mail.svg");
    background-size: 18px 13px;
  }

  .form__row--phone::before {
    background-image: url("../img/bg-phone.svg");
    background-size: 20px 22px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;

    width: 940px;
    margin: 0 auto;
  }

  .form__fieldset {
    padding-left: 58px;
    padding-right: 58px;
  }

  .form__fieldset--user-info {
    width: 435px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
  }

  .form__fieldset--user-info .form__row {
    margin-bottom: 53px;
  }

  .form__fieldset--radio-group {
    width: 435px;
    padding: 0 25px 58px 25px;
    margin-bottom: 52px;
  }

  .form__fieldset--user-contacts {
    margin-bottom: 56px;
    padding-top: 24px;
    padding-bottom: 10px;
  }

  .form__fieldset--user-contacts .form__legend {
    transform: translateY(-35px);
  }

  .form__fieldset--user-contacts .form__row-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .form__fieldset--user-contacts .form__row {
    width: 375px;
  }

  .form__fieldset--user-contacts .form__label {
    margin-bottom: 0;
  }

  .form__fieldset--check-group {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .form__fieldset--check-group .form__row-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__fieldset--check-group .form__row-inner {
    flex-direction: column;
  }

  .form__fieldset--radio-group .form__row-inner {
    align-items: center;
  }

  .form__fieldset--radio-group .form__row {
    width: 280px;
  }

  .form__fieldset--check-group .form__row:last-child {
    margin-bottom: 50px;
  }

  .form__row--submit-group {
    width: 100%;
  }

  .form__textarea {
    min-height: 127px;
    padding-top: 13px;
  }

  .form__fieldset--message {
    margin-bottom: 65px;
    padding-top: 0;
    padding-bottom: 45px;
  }

  .form__fieldset--message .form__legend {
    transform: translateY(-10px);
    margin-bottom: 35px;
  }

  .form__note span {
    display: inline;
  }
}
