.foto-upload {
  padding-top: 20px;

  background-color: @bg-grey;
}

@media (min-width: @tablet-width) {
  .foto-upload {
    padding: 58px 0 54px;
  }
}

@media (min-width: @desktop-width) {
  .foto-upload {
    width: 940px;
    margin: 0 auto;
  }
}
