.information__slogan {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.information__wrapper {
  .container();
}

.information__list {
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.information__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.information__description {
  margin: 0;
  margin-bottom: 35px;
}
