.page-header {
  display: flex;
  flex-direction: column;

  color: white;

  background-color: @base-text-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.page-header__logo-wrapper {
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: 20px;
  top: 22px;
  display: block;

  min-height: 25px;
}

.page-header__logo-image {
  width: 80px;
  height: 25px;
  background-color: @white;
}

.page-header--index-page {
  min-height: 730px;
  background-position: center bottom;
  background-size: 1200px auto;
}

.page-header__title {
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 52px;

  width: 250px;

  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.page-header__title--foto-page {
  padding-bottom: 82px;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-size: 1200px;
  }

  .page-header--index-page {
    min-height: 985px;
  }

  .page-header__title {
    padding-top: 68px;
    padding-bottom: 80px;

    width: 490px;

    font-size: 50px;
    line-height: 60px;
  }

  .page-header__title--foto-page {
    padding-bottom: 139px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-size: cover;
  }

  .page-header--index-page {
    min-height: 853px;
  }

  .page-header__nav {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__nav-wrapper {
    /*.container();*/
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
  }

  .page-header__logo {
    position: static;
    width: 150px;
  }

  .page-header__title {
    width: 830px;
    padding-top: 65px;
    padding-bottom: 100px;
  }

  .page-header__title--foto-page {
    width: 400px;
  }
}
