.page-header {
  color: white;
  background-color: @base-text-color;
}

.page-header__wrapper {
  padding-top: 50px;
  padding-bottom: 55px;

  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.page-header__title {
  margin: 0 auto;

  width: 250px;

  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.page-header__logo-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}
