.pop-up {
  text-align: center;
}

.pop-up__wrapper {
  padding-top: 40px;
}

.pop-up__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.pop-up__message {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;

  font-size: 14px;
  line-height: 24px;
}

.pop-up__btn-wrapper {
  padding: 50px 0;

  background-color: @bg-grey;

  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}
