.social {
  display: flex;
  justify-content: space-between;

  margin-top: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  position: relative;
  display: block;

  width: 50px;
  height: 50px;

  font-size: 0;

  border: 3px solid @bg-grey;
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: @base-text-color;
  }

  &:active {
    border-color: @bg-grey;
  }
}

.social__svg {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);

  fill: @text-red;
}

.social__link:active .social__svg {
  opacity: 0.3;
}

.social__svg--facebook {
  top: 15px;
}

@media (min-width: @tablet-width) {
  .social {
    justify-content: space-around;
  }
}
