.user-foto__link {
  display: block;
  line-height: 0;
}

.user-foto__image--panoramic {
  width: 100%;
  height: 136px;
}

.user-foto--panoramic {
  position: relative;

  &::before {
    content: "Панорама дня";

    position: absolute;
    top: 0;
    right: 6.25%;

    display: block;
    width: 120px;
    height: 26px;
    padding: 6px 10px;

    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: @white;
    text-align: center;

    background-color: @text-red;
    z-index: 200;
  }
}

.user-foto__caption {
  padding: 18px 16px;

  font-size: 14px;
  line-height: 24px;

  background-color: @bg-grey;
}

.user-foto__caption--panoramic {
  width: 244px;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;

  background-color: @bg-grey;
}

.user-foto__author {
  margin: 0;

  font-weight: 700;
}

.user-foto__message {
  margin: 0;
  margin-bottom: 10px;
}

.user-foto__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.user-foto__like {
  display: flex;
  align-items: baseline;
}

@media (min-width: @tablet-width) {
  .user-foto {
    display: flex;
    flex-direction: column;

    &--panoramic {
      width: 100%;
      margin-bottom: 48px;
    }
  }

  .user-foto__image {
    width: auto;
  }

  .user-foto--panoramic::before {
    top: 55px;
    right: 1%;
  }

  .user-foto--panoramic .user-foto__image {
    width: 100%;
    height: 510px;
  }

  .user-foto__caption {
    flex-grow: 1;
    display: flex;
    min-height: 105px;
    flex-direction: column;

    padding: 25px 30px;
  }

  .user-foto__caption--panoramic {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 620px;
    min-height: auto;

    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px 28px 16px;
  }

  .user-foto__like {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: auto;
  }

  .user-foto--panoramic .user-foto__author {
    order: 1;
  }

  .user-foto--panoramic .user-foto__like {
    justify-content: flex-start;
    order: 2;
    margin-top: 0;
  }

  .user-foto--panoramic .user-foto__message {
    order: 3;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .user-foto--panoramic .user-foto__image {
    height: 508px;
  }

  .user-foto__like {
    align-items: center;
  }

  .user-foto__caption {
    min-height: 106px;

    padding: 24px 28px;
  }

  .user-foto__caption--panoramic {
    min-height: 50px;
    width: 940px;
    padding: 22px 28px 20px;
  }

  .user-foto__message {
    margin-bottom: 5px;
  }
}
